{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movierama</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>

{% block content %}
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% if user.is_authenticated %}
                        <form id="logout" action="{% url 'logout' %}" method="POST">
                          {% csrf_token %}
                            <input type="submit" value="Logout" class="btn btn-dark btn-block">
                        </form>
                    {% else %}
                        <a class="btn btn-secondary btn-block" href="{% url 'login' %}"><i class="fas fa-user-plus"></i>Login</a>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <a class="btn btn-secondary btn-block" href="{% url 'register' %}"><i class="fas fa-user-plus"></i>Sign up</a>
                </div>
                <div class="col-md-4">
                    {% if user.is_authenticated %}
                        <a class="btn btn-secondary btn-block" href="{% url 'add_movie' %}"><i class="fas fa-user-plus"></i>New Movie</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header bg-primary text-white">
                <h4>
                    <i class="fas fa-user-plus"></i>Movies
                </h4>
                </div>
                {% if movies %}
                     <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Title</th>
                              <th scope="col">Description</th>
                              <th scope="col">Submitted by</th>
                              <th scope="col">Votes</th>

                            </tr>
                          </thead>
                            {% for movie in movies %}
                            <tr>
                                <td>{{ movie.title }}</td>
                                <td>{{ movie.description }}</td>
                                <td>
                                    {%  if movie.user %}
                                        <a href="{% url "user_movies" movie.user.id %}">{{ movie.user.username }}</a>
                                    {%  else %}
                                        (deleted user)
                                    {% endif %}
                                </td>
                                <td>
                                    {{ movie.upvotes}} Likes
                                    {{ movie.downvotes}} Hates
                                </td>
                                {% if user.is_authenticated %}
                                    {% if movie.user.id != user.id %}
                                        <td>
                                            <form action="{% url 'add_vote' %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                                <input type="hidden" name="is_upvote" value="True">
                                                <input type="submit" value="Like" class="btn btn-secondary btn-block">
                                            </form>
                                        </td>
                                        <td>
                                            <form action="{% url 'add_vote' %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                                                <input type="hidden" name="is_upvote" value="False">
                                                <input type="submit" value="Hate" class="btn btn-danger">
                                            </form>
                                        </td>
                                    {%  endif %}
                                {%  endif %}
                            </tr>
                            {%  endfor %}
                    </table>
                {% else %}
                    There aren't any movies there yet
                {%  endif %}
            {% endblock %}
            </div>
        </div>
      </div>
    </div>
</body>
</html>
