{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movierama</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>

{% block content %}
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% if user.is_authenticated %}
                        <form id="logout" action="{% url 'logout' %}" method="POST">
                          {% csrf_token %}
                            <input type="submit" value="Logout" class="btn btn-dark btn-block">
                        </form>
                    {% else %}
                        <a class="btn btn-secondary btn-block" href="{% url 'login' %}"><i class="fas fa-user-plus"></i>Login</a>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <a class="btn btn-secondary btn-block" href="{% url 'register' %}"><i class="fas fa-user-plus"></i>Sign up</a>
                </div>
                <div class="col-md-4">
                    {% if user.is_authenticated %}
                        <a class="btn btn-secondary btn-block" href="{% url 'add_movie' %}"><i class="fas fa-user-plus"></i>New Movie</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header bg-primary text-white">
                <h4>
                    <i class="fas fa-user-plus"></i>Movies
                </h4>
                </div>
                {% if movies %}
                     <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Title</th>
                              <th scope="col">Description</th>
                              <th></th>
                            </tr>
                          </thead>
                            {% for movie in movies %}
                            <tr>
                                <td>{{ movie.title }}</td>
                                <td>{{ movie.description }}</td>
                            </tr>
                            {%  endfor %}
                    </table>
                {% else %}
                    There aren't any movies there yet
                {%  endif %}
            {% endblock %}
            </div>
        </div>
      </div>
    </div>
</body>
</html>
