{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movierama</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                <div class="card-header bg-primary text-white">
                <h4>
                    <i class="fas fa-user-plus"></i>Movies
                </h4>
                </div>
                {% if movies %}
                     <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Title</th>
                              <th scope="col">Description</th>
                              <th></th>
                            </tr>
                          </thead>
                            {% for movie in movies %}
                            <tr>
                                <td>{{ movie.title }}</td>
                                <td>{{ movie.description }}</td>
                            </tr>
                            {%  endfor %}
                    </table>
                {% else %}
                    There aren't any movies there yet
                {%  endif %}
            {% endblock %}
            </div>
        </div>
      </div>
    </div>
</body>
</html>
